---
import TeamMember from './TeamMember.astro';

const TEAM_MEMBERS = [
  {
    name: 'Américo Rubín de Celis Vidal',
    role: 'PhD. en Ingeniería Eléctrica',
    description: 'PhD in Electrical Engineering from the Pontifical Catholic University of Rio de Janeiro. Former researcher at the Telecommunications Studies Center.',
    avatar: '/team/americo.jpg',
    social: {
      facebook: '#',
      email: 'example@example.com',
      linkedin: '#',
      twitter: '#'
    }
  },
  {
    name: 'Wilbur Naike Chiuyari Veramendi',
    role: 'Image Processing | Computer Vision',
    description: 'Master´s in Computer Science from the Federal University of São Carlos (Brazil), specialist in computer vision.',
    avatar: '/team/wilbur.jpeg',
    social: {
      email: 'nike.codeux@gmail.com',
      facebook: 'https://www.facebook.com/nike.codeux',
      linkedin: 'https://www.linkedin.com/in/wilbur-naike'
    }
  },

  {
    name: 'Carlos Silva Delgado',
    role: 'Docente Universitario',
    description: 'Regular professor affiliated with the Department of Systems and Informatics Engineering, Faculty of Engineering and Architecture, National University of Moquegua.',
    avatar: '/team/carlos_silva.jpeg',
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  },
  {
    name: 'Victor Yana Mamani',
    role: 'Docente Universitario',
    description: 'Professor affiliated with the Department of Systems and Informatics Engineering, Faculty of Engineering and Architecture, National University of Moquegua.',
    avatar: '/team/victor.jpeg',
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  },
  {
    name: 'Maribel Coaguila',
    role: 'Docente Universitario',
    description: 'Master´s in Systems and Informatics Engineering, and in Information Security, as well as in Business Administration and Management. Professor at the Professional School of Systems and Informatics Engineering at UNAM.',
    avatar: '/team/maribel.jpg',
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  },
  {
    name: 'Honorio Apaza',
    role: 'Computer Science | NLP',
    description: 'LQA Reviewer at Venga Global (USA), extraordinary professor at the UNAM (Peru), Candidate for a Master´s degree in Computer Science at UNSA, Natural Language Processing Researcher.',
    avatar: '/team/honorio.jpg',
    social: {
      facebook: 'https://www.facebook.com/01001000.01A',
      email: 'honorio.apz@gmail.com',
      linkedin: 'https://www.linkedin.com/in/honorio-aa/',
      twitter: 'https://twitter.com/honyoffuture'
    }
  },
  {
    name: 'Allison Reynoso',
    role: 'Student | Image processing',
    description: 'President of the IEEE Student Branch at UNAM, junior researcher with publications in IEEE conferences, focused on natural language processing (NLP) and computer vision.',
    avatar: '/team/allison.png',
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  },
  {
    name: 'Estrella Velasquez',
    role: 'Student | Project Manager',
    description: 'Graduated from the National University of Moquegua, scholarship recipient of the Summer program of the School of Applied Mathematics (Machine learning) of the FGV of Brazil.',
    avatar: '/team/estrella.png',
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  },
  {
    name: 'Elmer Collanqui',
    role: 'Student | Frontend',
    description: 'Student at the Professional School of Systems and Informatics Engineering at UNAM, and junior researcher with publications in IEEE conferences, focused on natural language processing.',
    avatar: '/team/elmer.jpg',
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  },
  {
    name: 'Mariela Nina',
    role: 'Student | Frontend',
    description: 'Student at the Professional School of Systems and Informatics Engineering, UNAM, and junior researcher with publications in IEEE conferences, focused on natural language processing.',
    avatar: '/team/Mariela.jpg',
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  },
  {
    name: 'Yoselin Arocutipa',
    role: 'Student | Marketing Leader',
    description: 'Student at the Professional School of Systems and Informatics Engineering, UNAM, and junior researcher with publications in IEEE conferences, focused on computer vision.',
    avatar: '/team/yoselin.jpg',
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  },
  {
    name: 'Jamir Balcona',
    role: 'Student | Frontend',
    description: 'Student at the Professional School of Systems and Informatics Engineering, UNAM, and junior researcher with publications in IEEE conferences, focused on natural language processing.',
    avatar: '/team/jamir.jpeg',
    social: {
      email: 'jamir02viza@gmail.com',
      facebook: 'https://www.facebook.com/jamiredu.balcona/',
      linkedin: 'https://www.linkedin.com/in/jamir-balcona-viza-80826a218/'
    },
    portfolio: "test"
  },
  {
    name: 'Seline Maquera',
    role: 'Student | Logistic leader',
    description: 'Student at the Professional School of Systems and Informatics Engineering, UNAM, and junior researcher with publications in IEEE conferences, focused on computer vision.',
    avatar: '/team/selin.jpg',
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  },

  {
    name: 'Frank Ruiz',
    role: 'Student | Image processing',
    description: 'Outstanding student of the Professional School of Systems and Informatics Engineering, National University of Moquegua, Ilo, Peru.',
    avatar: '/team/frank.png',
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  },
  {
    name: 'Edward Rocca',
    role: 'Student | Estudiante destacado',
    description: 'Student at the Professional School of Systems and Informatics Engineering, UNAM, and junior researcher with publications in IEEE conferences, focused on computer vision.',
    avatar: '/team/eduard.png',
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  },
  

  {
    name: 'Jose Paye',
    role: 'Student | Full Stack',
    description: 'Student at the Professional School of Systems and Informatics Engineering, UNAM, full stack developer.',
    avatar: '/team/jose.png',
    portfolio: "test",
    social: {
      email: '/',
      facebook: '/',
      linkedin: '/'
    }
  }
];
---
<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<section id="acerca_de_nosotros" class="g-gradient-to-b w-full">
    
    <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-4 scroll-mt-12 g-gradient-to-b flex flex-col items-center">
      <br>
      <h1 class="text-3xl font-roboto tracking-tight text-gray-900 sm:text-3xl">AiMara Team</h1>
      <div class="border-b border-celeste_aimara w-1/2 mt-4"></div>
      <br>
      <p class="text-base text-gray-600 mb-8 text-center">
      A group of researchers from UNAM and external collaborators, composed of professors, students, and graduates, works together to conduct online research in the field of Artificial Intelligence and related areas.
      </p>
  </div>
  <br>
</section>

  <section id="equipo" class="bg-white-100 w-full">
    <div class="mx-auto max-w-7xl px-6 py-12">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        {TEAM_MEMBERS.map((member) => (
          <TeamMember {...member} />
        ))}
      </div>
    </div>
  </section>
