---
import 'photoswipe/style.css';
---
<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<section id="acerca_de_nosotros" class="g-gradient-to-b w-full">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-4 scroll-mt-12 g-gradient-to-b"
  >
  
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-4 scroll-mt-12 g-gradient-to-b flex flex-col items-center"> 
      <h1 class="text-3xl font-roboto tracking-tight text-gray-900 sm:text-3xl">Gallery</h1>
      <div class="border-b border-celeste_aimara w-1/2 mt-4"></div>
      <br>
      <p class="text-base text-gray-600 mb-8 text-center">
        As a group, we participate in and organize various activities related to Artificial Intelligence and Computer Science, as well as share fraternal moments to strengthen our bonds and exchange ideas and experiences.  </div>
  </div>
</section>

<div class="w-full mx-auto bg-gray-1 pt-4 pb-4 mt-0" id="galeria">
  <div class="w-3/4 mx-auto mt-0">
    <div 
      class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible"
    >
      <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <div>
              <a href="/fotos/foto1.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
                  <img src="/fotos/foto1.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
                </a>
          </div>
          <div>
            <a href="/fotos/foto2.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
                <img src="/fotos/foto2.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
              </a>
        </div>
        <div>
          <a href="/fotos/foto3.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
              <img src="/fotos/foto3.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
            </a>
      </div>
      <div>
        <a href="/fotos/foto4.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
            <img src="/fotos/foto4.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
          </a>
    </div>
    <div>
      <a href="/fotos/foto5.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
          <img src="/fotos/foto5.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
        </a>
    </div>
    <div>
      <a href="/fotos/foto6.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
          <img src="/fotos/foto6.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
        </a>
    </div>
    <div>
      <a href="/fotos/foto7.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
          <img src="/fotos/foto7.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
        </a>
    </div>
    <div>
      <a href="/fotos/foto8.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
          <img src="/fotos/foto8.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
        </a>
    </div>
    <div>
      <a href="/fotos/foto9.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
          <img src="/fotos/foto9.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
        </a>
    </div>
    <div>
      <a href="/fotos/foto10.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
          <img src="/fotos/foto10.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
        </a>
    </div>
    <div>
      <a href="/fotos/foto11.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
          <img src="/fotos/foto11.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
        </a>
    </div>
    <div>
      <a href="/fotos/foto12.jpg" data-pswp-width="2500" data-pswp-height="1666" target="_blank" class="">
          <img src="/fotos/foto12.jpg" alt="" class="object-cover object-center h-40 max-w-full rounded-lg md:h-60 hover:-translate-y-2 transition-transform duration-300 ease-in-out">
        </a>
    </div>
        
      </div>
    </div>
  </div>
</div>


<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox"

    const lightbox = new PhotoSwipeLightbox({
      gallery: '#galeria',
      children: 'a',
      pswpModule: () => import('photoswipe'),
    });
    lightbox.init();
</script>