---
import CreativeCarousel from '../CreativeCarousel.jsx';

const collaborators = [
  { name: "Centro Nacional de Inteligencia Artificial (CENIA)", logo: "/logo/logo_cenia.png" , url:"https://cenia.cl/"},
  { name: "Artificio", logo: "https://cdn.prod.website-files.com/64b9750384f5ae077a2c33fc/64f981ae0068f4ab01cde215_logo.png" , url:"https://artificio.org/"},
  { name: "A language model made in Latin America, for Latin America (Latam-GPT)", logo: "https://www.latamgpt.org/logo.svg" , url:"https://www.latamgpt.org/en"}
];
---

<html class="bg-white">
  <body class="h-full font-nunito bg-white">
    <!-- Hero Section -->
    
    <div class="relative isolate overflow-hidden bg-white">
      <section class="container mx-auto max-w-8xl grid lg:grid-cols-2 gap-x-32 px-6 lg:px-12 py-16 sm:py-24">
        
        <!-- Text Content -->
        <div class="max-w-2xl">
          <h1 class="mt-14 sm:mt-14 text-3xl font-roboto tracking-tight text-gray-900 sm:text-4xl">
            Welcome to AiMara Lab!
          </h1>
           
           <div class="w-16 h-[2px] bg-celeste_aimara rounded-full my-3 mb-4"></div>
          <p class="mt-6 text-sm sm:text-base text-gray-600">
            AiMara Lab is an independent, non-profit organization based in Peru dedicated to the development and application of Artificial Intelligence. We focus on creating ethical, socially impactful, and scientifically grounded AI solutions, combining innovation with real-world implementation and technological advancement.
          </p>
          <div class="mt-8 flex items-center space-x-4">
            <a href="/about" class="px-3 py-1 rounded-lg text-base font-medium text-black bg-white border border-black hover:bg-black hover:text-white transition-colors duration-200">
              Know more →
            </a> 
            
          </div>
        </div>

        <!-- Carousel Component -->
        <div class="mt-14 sm:mt-24 md:max-w-2xl lg:mt-5 lg:w-full">
          <CreativeCarousel client:load />
        </div>

      </section>
    </div>
    
    <section class="py-6">
      <div class="max-w-7xl mx-auto px-4">
        <div class="bg-gray-100 rounded-md px-6 py-4 text-center text-sm text-gray-700 shadow-sm">
          <p>
            <strong>AiMARA LAB</strong> is a participant in the <strong>Google for Nonprofits</strong> program. Google for Nonprofits offers eligible organizations access to Google products that can help solve the challenges nonprofits face: finding new donors and volunteers, working more efficiently, and getting supporters to take action. Google for Nonprofits is available in over 60 countries.
          </p>
        </div>
      </div>
    </section>
    <br>
    <section class="py-8 bg-white">
  <div class="max-w-7xl mx-auto px-4 text-center">
    <h1 class="text-2xl font-blod tracking-tight text-gray-900 font-roboto mb-3">Our Collaborators: </h1>
    <div class="flex flex-wrap justify-center items-center gap-8">
      {collaborators.map(collaborator => (
        <div class="flex flex-col items-center">
          <a href={collaborator.url} target="_blank" rel="noopener noreferrer">
            <img src={collaborator.logo} alt={collaborator.name} class="h-16 object-contain transition hover:scale-105" />
          </a>
         
        </div>
      ))}
    </div>
  </div>
</section>
  </body>
  
</html>
