---
import CreativeCarousel from '../CreativeCarousel.jsx';

const collaborators = [
  { name: "Google Nonprofits", logo: "/logo/google.png" },
  //{ name: "Centro Nacional de Inteligencia Artificial (CENIA)", logo: "/logo/logo_cenia.png" }
];
---

<html class="bg-white">
  <body class="h-full font-nunito bg-white">
    <!-- Hero Section -->
    
    <div class="relative isolate overflow-hidden bg-white">
      <section class="container mx-auto max-w-8xl grid lg:grid-cols-2 gap-x-32 px-6 lg:px-12 py-16 sm:py-24">
        
        <!-- Text Content -->
        <div class="max-w-2xl">
          <h1 class="mt-14 sm:mt-14 text-3xl font-roboto tracking-tight text-gray-900 sm:text-4xl">
            Welcome to AiMara Lab!
          </h1>
          <p class="mt-4 text-lg text-celeste_aimara">_____________</p>
          <p class="mt-6 text-sm sm:text-base text-gray-600">
            AiMara Lab is an independent, non-profit organization based in Peru dedicated to the development and application of Artificial Intelligence. We focus on creating ethical, socially impactful, and scientifically grounded AI solutions, combining innovation with real-world implementation and technological advancement.
          </p>
          <div class="mt-8 flex items-center space-x-4">
            <a href="/about" class="px-3 py-1 rounded-lg text-base font-medium text-black bg-white border border-black hover:bg-black hover:text-white transition-colors duration-200">
              See more
            </a>
            <a href="https://www.aimaralab.com/galeria" class="text-sm font-medium text-gray-700 hover:text-gray-900 transition">
              Gallery →
            </a>
          </div>
        </div>

        <!-- Carousel Component -->
        <div class="mt-14 sm:mt-24 md:max-w-2xl lg:mt-5 lg:w-full">
          <CreativeCarousel client:load />
        </div>

      </section>
    </div>

    
  </body>
</html>
