<section id="mision">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-20 scroll-mt-25">
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Misión, Visión & Objetivos 
        </p>
        <p class="mt-4 text-lg text-na mx-auto tracking-tight text-gray-500">
          Tenemos como objetivo contribuir al desarrollo de la investigación en Inteligencia Artificial y áreas afines, así como a la formación de investigadores.
        </p>
      </div>
    </div>
    
    
    <div class="max-w-7xl mx-auto p-8">
      <div class="relative mb-6">
        <h6 class="mb-0">
          <button
            class="flex items-center justify-between w-full p-5 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-gray-300 text-gray-800 rounded-t-lg group"
            data-collapse-target="animated-collapse-1"
          >
            <span class="text-lg font-medium">1. Nuestra misión</span>
            <svg
              class="w-5 h-5 transition-transform group-open:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </h6>
        <div
          data-collapse="animated-collapse-1"
          class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
        >
          <div class="p-5 text-md leading-normal text-gray-700">
            Ser un grupo de investigación líder en el desarrollo de soluciones
            inteligentes y creativas, a través de la aplicación de la inteligencia
            artificial en diversos campos, adoptando un enfoque interdisciplinar y
            colaborativo para generar conocimiento innovador y aplicable que
            contribuya al avance de la ciencia y la sociedad.
          </div>
        </div>
      </div>
    
      <div class="relative mb-6">
        <h6 class="mb-0">
          <button
            class="flex items-center justify-between w-full p-5 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-gray-300 text-gray-800 rounded-t-lg group"
            data-collapse-target="animated-collapse-2"
          >
            <span class="text-lg font-medium">2. Nuestra visión</span>
            <svg
              class="w-5 h-5 transition-transform group-open:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </h6>
        <div
          data-collapse="animated-collapse-2"
          class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
        >
          <div class="p-5 text-md leading-normal text-gray-700">
            Ser reconocidos a nivel nacional e internacional como un grupo de
            investigación de excelencia en inteligencia artificial, por la calidad
            de nuestras investigaciones, la formación de talentos humanos, la
            transferencia de conocimiento a la sociedad y por ser impulsores del
            cambio y la innovación en la sociedad.
          </div>
        </div>
      </div>
    
      <div class="relative mb-6">
        <h6 class="mb-0">
          <button
            class="flex items-center justify-between w-full p-5 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-gray-300 text-gray-800 rounded-t-lg group"
            data-collapse-target="animated-collapse-3"
          >
            <span class="text-lg font-medium">3. Nuestros objetivos</span>
            <svg
              class="w-5 h-5 transition-transform group-open:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </h6>
        <div
          data-collapse="animated-collapse-3"
          class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
        >
          <div class="p-5 text-md leading-normal text-gray-700">

            <strong class="mt-4 block">3.1 Formación:</strong>
            <ul class="list-disc pl-6">
              Formar talentos humanos altamente calificados en el campo de la inteligencia artificial. Ofrecer programas de formación a estudiantes de pregrado y posgrado, así como a profesionales del sector público y privado. Promover la participación de estudiantes en proyectos de investigación y tesis.
            </ul>

            <strong class="mt-4 block">3.2 Investigación:</strong>
            <ul class="list-disc pl-6">
              Ejecutar proyectos de investigación y tesis de pregrado y posgrado en el campo de la inteligencia artificial, con un enfoque interdisciplinario y colaborativo. Publicar artículos científicos en revistas indexadas y presentar resultados de investigación en congresos y eventos nacionales e internacionales. Desarrollar tecnologías vanguardistas con base en la investigación científica, con aplicaciones en la sociedad. Proteger la propiedad intelectual de las investigaciones mediante la obtención de patentes.
            </ul>
    
            <strong class="mt-4 block">3.3 Transferencia de conocimiento:</strong>
            <ul class="list-disc pl-6">
              Difundir los resultados de investigación a la sociedad a través de publicaciones, eventos y actividades de divulgación. Colaborar con el sector público y privado en el desarrollo de proyectos de innovación y transferencia de tecnología. Promover la creación de empresas de base tecnológica en el campo de la inteligencia artificial.

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>
