<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<section class="g-gradient-to-b from-gray-50 to-gray-100 py-16">
  <div class="container mx-auto px-4 max-w-7xl">
    <div class="flex flex-col lg:flex-row items-start">
      <div class="lg:w-1/4 lg:sticky lg:top-1 self-start mb-12 lg:mb-0 pr-8 flex flex-col items-end">
        <h2 class="text-3xl font-roboto tracking-tight text-gray-900 sm:text-3xl text-right">History</h2>
        <div class="border-b border-celeste_aimara w-1/2 mt-4"></div>
      </div>
      <div class="lg:w-3/4 lg:pl-12">
        <p class="text-base text-gray-600 mb-8">
          The AiMara Research Group emerged in Peru from a collective desire to create rather than simply use emerging technologies. This dynamic team, composed of students and faculty from the National University of Moquegua’s School of Systems Engineering, formed during discussions about advancements in artificial intelligence.
          
        </p>
        <p class="text-base text-gray-600 mb-8">
          In 2022, members of the group achieved significant milestones by publishing two scientific papers titled "Neural Machine Translator for Native Language Aimara to English and Spanish" at the Proceedings of the Future Technologies Conference (FTC) and Intelligent Systems and Applications (IntelliSys 2022). The AI model they developed was named "AIMARA," symbolizing their mission and cultural heritage. "Aimara" derives from "jayamararu," meaning "language of many years," while the acronym reflects "AI" for Artificial Intelligence and "MARA" for "year" in Spanish, denoting the era of artificial intelligence.
          
        </p>
        <p class="text-base text-gray-600 mb-8">
                   
          On January 24, 2024, the group was officially registered at the university, solidifying their commitment to interdisciplinary research in artificial intelligence and related fields. The AiMara Research Group aims to innovate and inspire future generations, proving that creativity and knowledge can transform the technological landscape of Peru.
        </p>
      </div>
    </div>
      
  </div>
</section>



<section class="g-gradient-to-b from-gray-50 to-gray-100 py-16">
  <div class="container mx-auto px-4 max-w-7xl">
    
    
    <div class="flex flex-col lg:flex-row items-start">
      <div class="lg:w-1/4 lg:sticky lg:top-1 self-start mb-12 lg:mb-0 pr-8 flex flex-col items-end">
          <h2 class="text-3xl font-roboto tracking-tight text-gray-900 sm:text-3xl text-right">Mission</h2>
          <div class="border-b border-celeste_aimara w-1/2 mt-4"></div>
      </div>
      <div class="lg:w-3/4 lg:pl-12">
          <p class="text-base text-gray-600 mb-8">
              To be a leading research group in the development of intelligent and creative solutions through the application of artificial intelligence in various fields, adopting an interdisciplinary and collaborative approach to generate innovative and applicable knowledge that contributes to the advancement of science and society.
          </p>
      </div>
  </div>
  <div class="flex flex-col lg:flex-row items-start">
      <div class="lg:w-1/4 lg:sticky lg:top-1 self-start mb-12 lg:mb-0 pr-8 flex flex-col items-end">
          <h2 class="text-3xl font-roboto tracking-tight text-gray-900 sm:text-3xl text-right">Vision</h2>
          <div class="border-b border-celeste_aimara w-1/2 mt-4"></div>
      </div>
      <div class="lg:w-3/4 lg:pl-12">
          <p class="text-base text-gray-600 mb-8">
              To be recognized nationally and internationally as an excellent research group in artificial intelligence, for the quality of our research, the training of human talent, the transfer of knowledge to society, and for being drivers of change and innovation in society.
          </p>
      </div>
  </div>
  
      
  </div>
</section>


<section class="g-gradient-to-b from-gray-50 to-gray-100 py-16">
  <div class="container mx-auto px-2 max-w-7xl">
    <div class="flex flex-col lg:flex-row items-start">
      <div class="lg:w-1/4 lg:sticky lg:top-1 self-start mb-12 lg:mb-0 pr-8 flex flex-col items-end">
        <h2 class="text-3xl font-roboto tracking-tight text-gray-900 sm:text-3xl text-right">Objetives</h2>
        <div class="border-b border-celeste_aimara w-1/2 mt-4"></div>
      </div>

      <div class="lg:w-3/4 lg:pl-12">
        <p class="text-base text-gray-600 mb-8">
            To train highly qualified human talent in the field of artificial intelligence. To offer training programs to undergraduate and graduate students, as well as professionals from the public and private sectors. To promote the participation of students in research projects and theses.
        </p>
        <p class="text-base text-gray-600 mb-8">
            To execute research projects and undergraduate and graduate theses in the field of artificial intelligence, with an interdisciplinary and collaborative approach. To publish scientific articles in indexed journals and present research results at national and international conferences and events. To develop cutting-edge technologies based on scientific research, with applications in society. To protect the intellectual property of research through patent acquisition.
        </p>
        <p class="text-base text-gray-600 mb-8">
            To disseminate research results to society through publications, events, and outreach activities. To collaborate with the public and private sectors in the development of innovation projects and technology transfer. To promote the creation of technology-based companies in the field of artificial intelligence.
        </p>
    </div>
    
      
    </div>
  </div>
</section>


<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>
