<!-----

<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
--- -->
<section class="bg-gray-50 w-full py-16 px-4">
  <div class="max-w-3xl mx-auto flex flex-col items-center text-center">
    <h1 class="text-3xl font-light mb-2 tracking-tight text-gray-800 font-roboto">
      About AiMara Lab
    </h1>
    <h2 class="text-xl font-light text-gray-500 mb-6 font-roboto">
      Vision, Values & Mission
    </h2>
    <p class="text-base text-gray-600 font-normal leading-relaxed max-w-2xl">
      AIMARA LAB is an independent, non-profit organization based in Peru, dedicated to advancing artificial intelligence through ethical, impactful, and collaborative work.   </p>
  </div>
</section>

<section class="py-16 bg-white">
  <div class="max-w-7xl mx-auto px-4">

    <!-- Título global -->
  

   

    <!-- Tarjetas en grid -->
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-2">

      <!-- Mission -->
      <div class="bg-white border border-gray-200 rounded-2xl p-8 flex flex-col shadow-sm hover:shadow-lg transition-shadow duration-200">
        <h1 class="text-2xl font-bold mb-2 tracking-tight text-gray-800 font-roboto">Mission</h1>
         <div class="w-16 h-[2.5px] bg-celeste_aimara rounded my-3"></div>
        <p class="text-gray-600">
          To create intelligent, ethical, and inclusive technologies through artificial intelligence, combining scientific research, education, and innovation to generate real-world impact.
        </p>
      </div>
      
      <!-- Vision -->
      <div class="bg-white border border-gray-200 rounded-2xl p-8 flex flex-col shadow-sm hover:shadow-lg transition-shadow duration-200">
        <h1 class="text-2xl font-bold mb-2 tracking-tight text-gray-800 font-roboto">Vision</h1>
         <div class="w-16 h-[2.5px] bg-celeste_aimara rounded my-3"></div>
        <p class="text-gray-600">
          To be recognized nationally and internationally as a leading research lab in artificial intelligence, known for scientific excellence, human talent development, and the responsible use of AI for societal benefit.
        </p>
      </div>
      
      
      <!-- Objectives -->
      <div class="bg-white border border-gray-200 rounded-2xl p-8 flex flex-col shadow-sm hover:shadow-lg transition-shadow duration-200">
        <h1 class="text-2xl font-bold mb-2 tracking-tight text-gray-800 font-roboto">Objectives</h1>
         <div class="w-16 h-[2.5px] bg-celeste_aimara rounded my-3"></div>
        <ul class="list-disc pl-6 text-gray-600 space-y-2">
          <li>To promote research, development, and the application of innovative solutions in Artificial Intelligence, Data Science, and Emerging Technologies.</li>
          <li>To apply these technologies in key areas such as education, justice, health, digital inclusion, and sustainable development.</li>
          <li>To capture and channel national or foreign funds for the promotion, dissemination, training, and research in new engineering technologies.</li>
        </ul>
      </div>
      <!-- History -->
      <div class="bg-white border border-gray-200 rounded-2xl p-8 flex flex-col shadow-sm hover:shadow-lg transition-shadow duration-200">
        <h1 class="text-2xl font-bold mb-2 tracking-tight text-gray-800 font-roboto">About us</h1>
         <div class="w-16 h-[2.5px] bg-celeste_aimara rounded my-3"></div>
        <p class="text-gray-600 mb-2">
          AiMara Lab was founded in Peru with the purpose of leading responsible innovation in artificial intelligence. It emerged from the collaborative efforts of researchers and students who shared a strong commitment to scientific development, social impact, and ethical technology.
        </p>
        <p class="text-gray-600 mb-2">
          In 2022, a milestone was reached with the publication of “Neural Machine Translator for Native Language Aimara to English and Spanish”. This highlighted the lab’s focus on language technologies and cultural preservation.
        </p>
        <p class="text-gray-600">
          The name AiMara combines “AI” for Artificial Intelligence and “MARA” from the Aymara language, meaning “year” — representing a new era of inclusive technology.
        </p>
      </div>
      

      
    </div>
  </div>
</section>
