<section id="acerca_de_nosotros" class="bg-gray-100 w-full">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-4 scroll-mt-12 bg-gray-100"
  >
    <div class="mx-auto text-center">
      <h1 class="text-4xl text-center tracking-tight font-medium text-black md:text-5xl font-display" >
        Aimara Projects
      </h1>
      <p class="mt-4 text-lg text-na mx-auto text-celeste_aimara">
        _____________
      </p>
      <p class="mt-4 text-lg text-na mx-auto text-gray-500 mb-8">
        Los proyectos de AiMara se desarrollan basados en mas reciente estado arte de inteligencia artificial y necesidades o
        problemas de la sociedad en general, A continuación, presentamos algunas de nuestros proyectos.
      </p>
    </div>
  </div>
</section>


<section id="proyectos" class="bg-white-100 w-full mt-12">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-4 scroll-mt-12">
      <div class="grid grid-cols-1 gap-8 mt-6 lg:grid-cols-3 justify-items-center">
          <!-- Proyecto 1 -->
          <div class="relative flex flex-col text-gray-700 bg-white shadow-lg rounded-xl w-full overflow-hidden transition-transform transform hover:scale-105">
              <div class="relative h-56 overflow-hidden">
                  <img src="/chatbot.png" alt="AiMara Chatbot" class="w-full h-full object-cover" />
              </div>
              <div class="p-6">
                  <h5 class="text-xl font-semibold text-gray-800 mb-2">AiMara Chatbot</h5>
                  <p class="text-base text-gray-600 mb-4">
                    Este proyecto se centra en la creación de corpus de datos específicos segun la necesidad y el desarrollo de chatbots con modelos de inteligencia artificial, destinados a optimizar procesos administrativos en instituciones públicas y privadas, mejorando así la eficiencia operativa y la calidad del servicio.


                  </p>
                  <div class="flex mt-8">
                    <a href="/proyectos" class="inline-flex items-center h-8 px-4 py-4 text-sm font-medium text-white bg-gray-800 rounded-lg group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-boton_aimara hover:text-black active:bg-gray-200 active:text-accent-400 focus-visible:outline-black">
                      Ver mas
                    </a>
                  </div>
              </div>
          </div>

          <!-- Proyecto 2 -->
          <div class="relative flex flex-col text-gray-700 bg-white shadow-lg rounded-xl w-full overflow-hidden transition-transform transform hover:scale-105">
              <div class="relative h-56 overflow-hidden">
                  <img src="/translator.jpeg" alt="AiMara Translator" class="w-full h-full object-cover" />
              </div>
              <div class="p-6">
                  <h5 class="text-xl font-semibold text-gray-800 mb-2">AiMara Translator</h5>
                  <p class="text-base text-gray-600 mb-4">
                    El proyecto está enfocado en la creación de corpus de datos en lenguas nativas peruanas, como quechua y aimara, pensando en desarrollar modelos de inteligencia artificial que traduzcan, reconozcan audio y generen contenido contextual y audio, promoviendo la inclusión digital de hablantes nativos.


                  </p>
                  <div class="flex mt-8">
                    <a href="/proyectos" class="inline-flex items-center h-8 px-4 py-4 text-sm font-medium text-white bg-gray-800 rounded-lg group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-boton_aimara hover:text-black active:bg-gray-200 active:text-accent-400 focus-visible:outline-black">
                      Ver mas
                    </a>
                  </div>
              </div>
          </div>

          <!-- Proyecto 3 -->
          <div class="relative flex flex-col text-gray-700 bg-white shadow-lg rounded-xl w-full overflow-hidden transition-transform transform hover:scale-105">
              <div class="relative h-56 overflow-hidden">
                  <img src="/nlplegal.jpeg" alt="AiMara Classifier" class="w-full h-full object-cover" />
              </div>
              <div class="p-6">
                  <h5 class="text-xl font-semibold text-gray-800 mb-2">AiMara legal</h5>
                  <p class="text-base text-gray-600 mb-4">
                    Este proyecto tiene como objetivo desarrollar un modelo de inteligencia artificial que entienda el marco legal peruano. Se pretende facilitar el acceso a la justicia de manera equitativa y sin discriminación, mejorando la transparencia y eficiencia en la administración judicial para todos los Peruanos.


                  </p>
                  <div class="flex mt-8">
                    <a href="/proyectos" class="inline-flex items-center h-8 px-4 py-4 text-sm font-medium text-white bg-gray-800 rounded-lg group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-boton_aimara hover:text-black active:bg-gray-200 active:text-accent-400 focus-visible:outline-black">
                      Ver mas
                    </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<br><br>


