---
import BaseLayout from "../layouts/BaseLayout.astro";
import PublicationsList from "../components/landing/Publications.astro";
---

<BaseLayout title="Publications | AiMara Lab">
    <div class="pt-24 lg:pt-32 pb-12">
        <PublicationsList />
    </div>
</BaseLayout>
