---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  headerOverlay?: boolean;
}

const { title, headerOverlay = false } = Astro.props;
---

<html
  lang="en"
  class="scroll-smooth selection:bg-accent-500 selection:text-white no-touchevents hydrated bg-white dark:bg-black"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="logo_AIMara.ico" />
    <script src="/nav.js" defer></script>
    <script src="/gallery.js" defer></script>

    <title>{title}</title>
    <BaseHead />
    <ViewTransitions />
  </head>

  <body class="flex flex-col min-h-svh bg-white dark:bg-black">
    <Navigation />
    {
      /* Conditional Spacer: If headerOverlay is false (default), show spacer. If true (Home), hide it. */
    }
    {!headerOverlay && <div id="header-spacer" class="h-16 md:h-20" />}
    <main class="grow"><slot /></main>
    <Footer />
  </body>
</html>
