---
interface Props {
    class?: string;
    id?: string;
}

const { class: className, id } = Astro.props;
---

<section
    id={id}
    class:list={[
        "py-16 sm:py-24 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto relative",
        className,
    ]}
>
    <slot />
</section>
