<section class="py-24 bg-white">
  <div class="mx-auto px-8 lg:px-24">
    <ul class="grid gap-10 sm:grid-cols-2 lg:grid-cols-3">
      <li class="bg-white rounded-lg border border-gray-200 shadow-md transition-transform transform hover:scale-105 hover:shadow-lg">
        <div class="p-6">
          <blockquote class="text-gray-900 text-lg italic font-medium mb-0 border-l-4 border-teal-200 pl-4">
            "El Estado debería diseñar su propia tecnología y no comprarla de afuera."
          </blockquote>
          <footer class="text-gray-700 font-semibold text-right">Ernesto Cuadros</footer>
        </div>
      </li>
      <li class="bg-white rounded-lg border border-gray-200 shadow-md transition-transform transform hover:scale-105 hover:shadow-lg">
        <div class="p-6">
          <blockquote class="text-gray-900 text-lg italic font-medium mb-0 border-l-4 border-teal-200 pl-4">
            "La inteligencia artificial es probablemente la más importante, y también la más difícil, cosa que la humanidad ha intentado."
          </blockquote>
          <footer class="text-gray-700 font-semibold text-right">Sam Altman</footer>
        </div>
      </li>
      <li class="bg-white rounded-lg border border-gray-200 shadow-md transition-transform transform hover:scale-105 hover:shadow-lg">
        <div class="p-6">
          <blockquote class="text-gray-900 text-lg italic font-medium mb-0 border-l-4 border-teal-200 pl-4">
            "La tecnología es una herramienta poderosa, pero depende de nosotros cómo la usemos."
          </blockquote>
          <footer class="text-gray-700 font-semibold text-right">Jane Doe</footer>
        </div>
      </li>
    </ul>
  </div>
</section>
